body {
    height: 100%;
    background-color: rgb(237, 221, 181);
}

header {
  background-color: rgb(123, 143, 97);
}

header h1 {
    text-align: center;
    text-decoration-color: black;
   font-style: italic; 
   margin-top: 0%;
}

.main {
    overflow: auto;
    padding-bottom: 100px;
    height: 100px;
}

h2 {
    text-align: center;
}

li {
width: 9%;
height: 100%;
margin: top;
}

ul li {
   list-style: none; 
   display: inline-block;
   line-height: 100%;
}

ul li a {
    text-decoration: solid;
    font-size: 25px;
    font-family: Arial;
    color: black;
}

#index img {
    width: 500px;
    height: 600px;
    margin-left: 38%;
    margin-top: none;
    margin-bottom: none;
}

footer {
    text-align: center;
    font-size: 1rem;
    clear: left;
    background-color: rgb(123, 143, 97);
}

footer a {
    color: rgb(6, 6, 6);
    text-decoration: none;
}

/* Images for Blog Page */
.picture2 {
    width: 400px;
    margin-top: 0%;
    margin-left: 20%;
}
.picture3 {
    width: 400px;
    margin-left: 60%;
    margin-top: -30%;
}
.picture4 {
    width: 400px;
    height: 500px;
    margin-left: 10%;
}
.picture5 {
    width: 400px;
    height: 500px;
    margin-left: 50%;
    margin-top: -30%;
}
/* Images for Shop Page */
.the_nomad {
    margin-left: 70%;
}
.the_weekender {
    margin-left: 20%;
}

/* Images for Shop Page */
.heading {
    text-align: center;
    margin-top: 25px;
}
.about_us {
    display: flex;
    align-items: center;
    width: 85%;
}

.about_uspic {
    margin-left: 5%;
    width: 400px;
    height: 500px;
}
.content_aboutus {
    padding: 35px;
}
.content_aboutus h3{
font-size: 24px;
margin: 20px 0px;
}
.content_aboutus p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0px;
}
.read-more-btn {
    display: inline-block;
    color: rgb(49, 49, 250);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
}
/* Shop Page */
#div1 {
    margin-top: 0%;
        margin-left: 20%;
}

.The_Weekender p {
    margin-top: 0%;
    margin-left: 18%;
}
.The_Weekender h5 {
    margin-top: 0%;
    margin-left: 22%;
}
.picture7 {
    width: 400px;
    height: 400px;
    margin-top: 5%;
        margin-left: 13%;
}
#div2 {
    margin-top: -1%;
    margin-left: 68%;
}

.The_Nomad p {
    margin-top: 0%;
    margin-left: 65%;
}
.The_Nomad h5 {
    margin-top: 0%;
    margin-left: 70%;
}
.picture6 {
    width: 400px;
    height: 400px;
    margin-left: 60%;
    margin-top: -35%;
}
/* Form at about page*/

.form-wrap {
    background-color: rgb(167, 215, 243);
    width: 220px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 85%;
    top: 10%;
}
